<div class="container">
  <%= render 'layouts/movie_info' %>
  <div class="episodes">
    <table class="table table-sm table-striped">
      <thead>
      <tr>
        <th scope="col">Сезон</th>
        <th scope="col">Серия</th>
        <th scope="col">Название</th>
        <th scope="col">Дата выхода</th>
        <% if user_signed_in? %>
          <th scope="col" class="text-center">Просмотрено</th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <% @movie.seasons.each do |season| %>
        <% season.episodes.each do |episode| %>
          <tr>
            <td><%= season.number %></td>
            <td><%= episode.number %></td>
            <td><%= episode.title %></td>
            <td><%= episode.date %></td>
            <% if user_signed_in? %>
              <td class="text-center"><%= check_box_tag 'viewed' %></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>