<div class="container">
  <form method="post">
    <div class="row">
      <div class="col-md-12">
        <% @subscriptions.each do |subscription| %>
          <div class="container">
            <div class="row">
              <div class="col-12">
                <table class="table table-image">
                  <tr>
                    <td class="w-25">
                      <%= image_tag subscription.movie.image_url, class: "img-fluid img-thumbnail" %>
                    </td>
                    <td>
                      <%= link_to subscription.movie.ru_title, movie_path(subscription.movie.id) %>
                      <br>
                      <%= link_to subscription.movie.en_title, movie_path(subscription.movie.id) %>
                    </td>
                    <td>
                          <span class="badge badge-primary float-right">
                            <%= subscription.viewed_episodes.count %>/<%= subscription.movie.episodes.count %>
                          </span>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </form>
</div>