<div class="row my-4">
  <div class="col-lg-12">
    <div class="col-lg-8">
      <h4><%= @movie.ru_title %></h4>
      <h6><%= @movie.en_title %></h6>
    </div>
  </div>
  <div class="col-lg-8">
    <%= image_tag @movie.image_url, class: 'img-fluid rounded' %>
  </div>
  <div class="col-lg-4">
    <ul class="list-group">
      <li class="list-group-item">Дата выхода
        <span class="badge badge-secondary float-right"><%= @movie.start_date %></span></li>
      <li class="list-group-item">Страна производства
        <span class="badge badge-secondary float-right"><%= @movie.country %></span></li>
      <li class="list-group-item">Рейтинг IMDB
        <span class="badge badge-secondary float-right"><%= @movie.imdb %> из 10</span></li>
      <li class="list-group-item">Рейтинг Кинопоиск
        <span class="badge badge-secondary float-right"><%= @movie.kinopoisk %> из 10</span></li>
    </ul>
  </div>
  <div class="col-lg-8">
    <p><%= @movie.description %></p>
    <% if user_signed_in? %>
      <% if current_user.subscriptions.exists?(movie_id: @movie) %>
        <%= link_to 'Отписаться', unsubscribe_path(@movie), class: 'btn btn-outline-danger btn-md' %>
      <% else %>
        <%= link_to 'Подписаться', subscribe_path(@movie), class: 'btn btn-outline-success btn-md' %>
      <% end %>
    <% end %>
  </div>
</div>